@font-face {
    font-family: peaks;
    src: url(peaks.ttf);
}

.viewItem {
    font-family: peaks;
    color: orange;
    margin:0px;
    font-size:29px;
}

.viewItemPost{
    margin-bottom:20px;
}

.viewItemText {
        font-family: 'Do Hyeon', sans-serif;    
        color: white;
}
.viewDetails {
    font-family: 'Do Hyeon', sans-serif;
    color: white;    
    
}
.contactLink{
    color:orange;
    font-family: 'Do Hyeon', sans-serif;
}
.contactLink :hover{
    color:yellow;
}
.linkActive{
    color:rgb(221, 28, 221);
}
.an {
    color: yellow;
}

footer {
    font-family: 'Do Hyeon', sans-serif;    
}

.requestButton {
    font-size: 15px;
    color: white;
    background-color: rgba(153, 0, 255, 0.171);
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-left: 10px;
}

.requestButton2 {
    font-size: 15px;
    color: white;
    background-color: rgba(153, 0, 255, 0.171);
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-left: 10px;
}



.item-img{
    max-height:350px;
}

.detail-div{
    padding:20px;
    border-radius:10px;
    border: 1px solid rgb(155, 101, 0);
    background: rgba(255, 255, 255, 0.075);
}