@font-face {
    font-family: peaks;
    src: url(peaks.ttf);
}

.viewItem {
    font-family: peaks;
    color: orange;
}

.viewItemText {
        font-family: 'Do Hyeon', sans-serif;    
        color: white;
}
.viewDetails {
    font-family: 'Do Hyeon', sans-serif;
    color: white;    
    
}
.contactLink{
    color:orange;
    font-family: 'Do Hyeon', sans-serif;
}
.contactLink :hover{
    color:yellow;
}
.linkActive{
    color:rgb(221, 28, 221);
}
.an {
    color: yellow;
}

footer {
    font-family: 'Do Hyeon', sans-serif;    
}

.requestButton {
    font-size: 15px;
    color: white;
    background-color: rgba(153, 0, 255, 0.171);
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-left: 10px;
}

.requestButton2 {
    font-size: 15px;
    color: white;
    background-color: rgba(153, 0, 255, 0.171);
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-left: 10px;
}