@font-face {
    font-family: peaks;
    src: url(peaks.ttf);
}

.searchButton {
    font-size: 15px;
    color: white;
    font-weight: bold;
	background-color: rgba(153, 0, 255, 0.171);
    /* background-color: Transparent; */
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.form-control {
    color: white;
    font-weight: bold;
    background-color: Transparent;
    border-color: rgb(155, 101, 0);
}

.form-control:focus {
    background-color: Transparent;
    color: white;
    border-color: yellow;
	box-shadow: 0 0 0 1px orange;
}

option {
    background: rgba(255, 155, 217, 0.418);
    color: purple;
    font-weight: bold;
}

.logoD {
    width: 40%;
    margin-top: -4%;
}

.logoName {
    font-family: peaks;
    font-size: 20px;
    margin-top: -8%;
    color: orange;
    margin-bottom: 2%;
}

.donate {
    color: yellow;
}

.copy {
    color: yellow;
}

.recentFont {
    font-weight: bold;
}