 <div className="profileDetails">
                        {this.props.user  ?
                        <div>
                            User id: {this.props.user._id}<br/>
                            Name: {this.props.user.firstname} {this.props.user.lastname} <br/>
                            Username: {this.props.user.username} <br/> 
                            Email: {this.props.user.email} <br/>
                            Phonenumber: {this.props.user.phonenumber} <br/>
                            Address: {this.props.user.city},{this.props.user.state}-{this.props.user.zipcode}
                        </div> : ""}
                    </div>

                    <h1 className="profileTitle">list of <span className="items">all items </span>posted</h1>

                    {/* list begins here */}
                    {this.state.items.length!==0?
                    <ul>
                     {this.state.items.map(item=>(
                        <li key={item._id}>
                        Id: <Link to={`/view-item/${item._id}`}>{item._id}</Link> | Name: {item.name} | 
                        Posted on: <Moment format="YYYY/MM/DD h:mm:ssa">{item.dateCreated}</Moment></li>
                     ))}
                     </ul>:
                    <div>No item posted</div>
                    }

                     <h1 className="profileTitle">list of <span className="items">donated </span>items</h1>

                    {/* list begins here */}
                    {this.state.donatedItems.length!==0?
                    <ul>
                    {this.state.donatedItems.map(item=>(
                        <li key={item._id}>
                        Id: <Link to={`/view-item/${item._id}`}>{item._id}</Link> | Name: {item.name} </li>
                    ))}
                    </ul>:
                    <div>No items donated.</div>
                    }

                    <h1 className="profileTitle">list of <span className="items">items </span>requested</h1>

                    {this.state.myRequestedItems.length!==0?
                    <ul>
                     {this.state.myRequestedItems.map(item=>(
                        <li key={item._id}>
                         Id: <Link to={`/view-item/${item._id}`}>{item._id}</Link>
                        | Item Name: {item.name} | Donor: {item.user.username} | Status: {this.getButtonColors(item.status)}</li>
                     ))}
                     </ul>:
                    <div>No item requested</div>
                    }

                    <h1 className="profileTitle">list of <span className="items">incoming </span>requests</h1>

                    {this.state.incomingRequests.length!==0?
                    <ul>
                     {this.state.incomingRequests.map(item=>(
                        <li key={item._id}>
                         Id: <Link to={`/view-item/${item._id}`}>{item._id}</Link>
                        |Item Name: {item.name} | Requested By: {item.requestedBy.username} | 
                        <button className="btn btn-success mb-1" onClick={()=>this.changeStatus("Accepted",item._id)}>Accept</button> 
                        <button className="btn btn-danger mb-1" onClick={()=>this.changeStatus("Declined",item._id)}>Decline</button></li>
                     ))}
                     </ul>:
                    <div>No item requested</div>
                    }
                    